:root {
  /* Base unit of 2px established in the system */
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;

  /* Color scheme */
  --app--bg-color: '#FFFFFF';
}
