/* remove pseudoelements from the flexbox calculation */
.menu-container .ant-menu::before,
.menu-container .ant-menu::after {
  display: none;
}

.menu-icon-background {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: var(--menu-icon-bg-color);
  justify-content: center;
}

.menu-container .ant-menu-item .anticon,
.menu-container .ant-menu-submenu-title .anticon {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;
  border-radius: 50%;

  margin: 0 !important;
}

li.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background-color: var(--menu-sub-menu-highlight) !important;
  color: var(--standard-white-color) !important;
}

/* remove underline from menu */
.menu-container .ant-menu-item-selected::after,
.menu-container .ant-menu-item-active::after,
.menu-container .ant-menu-submenu-active::after,
.menu-container .ant-menu-submenu-selected::after,
.menu-container .ant-menu-item:hover::after,
.menu-container .ant-menu-submenu:hover::after {
  border-bottom: none !important;
  content: none !important;
  transition: none !important;
  display: none !important;
}

.menu-container .ant-menu-item-selected .anticon,
.menu-container .ant-menu-item-active .anticon,
.menu-container .ant-menu-submenu-open > .ant-menu-submenu-title .anticon,
.menu-container .ant-menu-submenu-active > .ant-menu-submenu-title .anticon {
  background-color: var(--menu-icon-bg-color);
}

.menu-container .ant-menu-submenu-title,
.menu-container .ant-menu-item-active,
.menu-container .ant-menu-item:hover {
  color: var(--standard-black-color) !important;
  border-bottom: none !important;
}

.menu-container .menu-date-navigation-container {
  display: flex;
  align-items: center;
}

.menu-container .menu-date-navigation-container .anticon {
  background-color: transparent !important;
}
