.budget-details-page .budget-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  padding-bottom: 0.5rem;
}

.budget-details-page .header-content {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
  display: flex;
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
  align-items: center;
  gap: 8px;
}

.budget-details-page .back-btn-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.budget-details-page .header-content h2 {
  flex: 2;
  text-align: center;
  margin: 0;
}

.budget-details-page .edit-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.budget-details-page .header-content .edit-btn > .ant-btn {
  background-color: #e6e6e6;
}

.budget-details-page .header-content .edit-btn .ant-btn .anticon-edit {
  font-size: 1.25rem;
}

.budget-details-page .page-content > .btn-container {
  display: flex;
  gap: 12px;
  margin-left: var(--space-md);
}

.budget-details-page .plus-button-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999;
}

.budget-details-page .plus-button-container .plus-button,
.budget-details-page .plus-button-container .plus-button:hover {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: var(--button-highlight);
  border-color: var(--button-highlight);
  color: var(--standard-white-color);
}
